.navbar-light .navbar-nav .active .nav-link{
  color:#fff
}
.navbar-light .navbar-nav .nav-link {
  color: #fff
}

  section.header{
  background-image: url(../imgs/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.header .flex-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.header .flex-container h2{
  color: #fff;
  font-size:4rem;
  letter-spacing: 0.15em;
  font-weight: bold;
  margin-bottom: 1rem
}

section.header .flex-container h6{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;

}

section.header .flex-container .btn-outline-secondary{
  color: black;
  background-color:#fff;
  border: 2px solid #fff;
  padding: 1rem 3rem;
  margin-top: 1rem;
  background-color: #fff;
}

section.header .flex-container .btn-outline-secondary:hover{
  color: #fff;
  background-color: #fff0;
  border: 2px solid #fff
}
/* end header section */


/* start marek section */
section.marek h3{
  font-size: 25px
}

section.marek h2{
  color: black;
  letter-spacing: 0.10em;
  font-weight: bold
}

section.marek p{
  color: #666
}

section.marek ul{
  padding-left: 0
}
section.marek ul li{
  list-style: none;
  color: #666;
  margin-bottom: 1rem
}


section.marek ul li span{
  color: black;
  font-weight: bold
}

section.marek .btn-outline-secondary{
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: 2px solid black;
  color: black
}

section.marek .btn-outline-secondary:hover{
  background-color: black;
  color: #fff
}

/* end marek section */

/* start works section */
section.works{
  background-color: #FBFBFB;
}
section.works .heading h2{
  font-weight: bold;
  letter-spacing: 0.10em;
  font-size: 2rem

}
section.works ul{
  margin-bottom: 5rem;
}

section.works ul li{
  padding-right: 1rem
}

section.works ul li a{
  color: black;
  padding: 1rem;
  text-decoration: none
}

section.works ul li a:hover{
  background-color: black;
  color: #fff;
}

section.works ul li a.active{
  background-color: black;
  color: #fff
}

section.works .image{
  position: relative;
  margin: 1rem;
}
section.works .row{
  margin-bottom: 5rem
}

section.works .image .overlay .link a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold
}
section.works .image .overlay{
width: 100%;
height: 100%;
background-color: #080000e8;
position: absolute;
top:0;
left:0;
opacity: 0;
transition: opacity .5s ease

}

section.works .image:hover .overlay{
opacity: 1
}

section.works .image .overlay .link{
display: flex;
align-items: center;
height: 100%;
justify-content: center;
}

/* end works section */


/* start numbers section */
 section.numbers{
   background-image: url(../imgs/facts_bg.jpg);
   height: 50vh;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
 }

 section.numbers .flex-container{
   display: flex;
   align-items: center;
   height: 100%;
   justify-content: space-around;
   text-align: center
 }

section.numbers span{
  color: #fff;
  font-weight: bold;
  font-size: 3rem
}

section.numbers h6{
  color: #fff;
  font-weight: 300
}
/* end numbers section */

/* start services section */

/* end services section */
section.services h2{
  font-weight: bold;
}
section.services .image{
  width: 100px
}

section.services i{
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #555
}
section.services h5{
  padding-bottom: 1rem;
  color: #333
}

section.services p{
  color: #666
}
/* end services section */

/* start testimonial section */

section.testimonial{
  background-image: url(../imgs/testimonials_bg.jpg);
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

ol.carousel-indicators{
  /* bottom: -40px */
}
.carousel-indicators li{
background-color: #ccc;
height: 10px;
width: 10px;
margin: 5px
}

.carousel-item{
  padding:4rem
}

.carousel-item p{
  color:#fff;
  padding: 1rem
}

.carousel-item h6{
  color: #fff
}

.carousel-item span{
  color: #ccc
}

/* end testimonial section */

/* start logos section */
section.logos{
  background-color: black
}
/* end logos section */


/* start news section */
section.news{
  background-color: #FBFBFB
}

section.news h2{
  font-weight: bold;
  padding-bottom: 5px
}

section.news p{
  color: #666
}
section.news .image{
  overflow: hidden;
}

section.news .content{
  padding:1rem;
  background-color: #fff
}

section.news .image img{
  transition: all .5s ease
}

section.news .image:hover img{
  transform: scale(1.1,1.1);
}
section.news .content a{
  text-decoration: none;
  color: black
}

section.news .content span{
  color: #555;
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin-bottom: 7px
}

section.news .content p{
  color: #666;
  font-weight: 500
}

section.news .btn-primary{
  background-color: black;
  border: 2px solid black;
  padding: 1rem 3rem;
  color: #fff;
  margin-bottom: 5rem
}

section.news .btn-primary:hover{
  background-color: #fff;
  color: black;
}
/* end news section */

/* start contact section */
section.contact .info{
  background-image: url(../imgs/contact_item.jpg);
  height: 445px;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff
}

section.contact .btn-outline-secondary{
  border: 2px solid black;
  padding: 1rem 2rem;
  color: black
}

section.contact .btn-outline-secondary:hover{
  background-color: black;
  color: #fff
}
.form-group1 .form-control1{
  color: red;
}

/* end contact section */

/* start footer section */
footer{
  background-color: #191919;
}
footer ul li{
  list-style: none;
  display: inline-block
}

footer ul li a{
  color: #efe6e666;
  padding: 10px
}

footer ul li a:hover{
  color: #fff
}

footer p{
  color: #efe6e666;
}
/* end footer section */
